<header>
    <div class="container-logo-barra-titulo">
        
            <div class="container-logo">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="" class="logo"></a>
            </div>
           
             <nav class="container-nav">
               <div class="buscador"> 
               <form action=""> 
                  <input class="nav" type="busca un producto" placeholder="Buscar productos, marcas">
               </form>
                <button id="button" type="button">
                    <i id="search" class="fa fa-search" aria-hidden="true" ></i>
                </button>
               </div> 
    
             </nav>      
             
         <div class="container-titulo">
            <p class="titulo"> <i class="fas fa-hand-holding-usd"></i>compra en cuotas y sin tarjeta de credito</p>
         </div>
    </div>
      <nav>
        <ul class="lista">
            <div class="lista-1">
                <div class="sub-lista-1">
                    <li class="li-1"> <a href="">Ofertas</a></li>
                    <li class="li-1"> <a href="">Tiendas oficiales</a></li>
                </div>
                <div class="sub-lista-1">
                    <li class="li-1"> <a href="">Vender</a></li>
                    <li class="li-1"> <a href="">Ayuda</a></li>
                </div>
            </div>
          <div class="lista-2">
            <li class="li-2"> <a href="/register"> Crea tu cuenta<i class="fa-regular fa-id-card"></i></a></li>
            <li class="li-2"> <a href="/login">Ingresa<i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li class="li-2"> <a href=""> Mis compras<i class="fa-sharp fa-solid fa-cart-arrow-down"></i></a></li>
          </div>
        </ul>
      </nav>
       
        <nav  class="burger-menu"> 
            <input id="burger" type="checkbox">            
            <label for="burger">
                <i id="barra" class="fas fa-bars barras"></i>
            </label>
        </nav>

</header>