<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="shortcut icon" href="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.18.1/mercadolibre/favicon.ico" data-head-react="true">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
     rel="stylesheet" />
     <script src="https://kit.fontawesome.com/b8b6f5bafe.js" crossorigin="anonymous"></script>
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200&family=Lato:wght@400;700;900&family=Montserrat&family=Oswald&family=Prosto+One&family=Questrial&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container-logo-barra-titulo">
            
                <div class="container-logo">
                    <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="" class="logo"></a>
                </div>
               
                 <nav class="container-nav">
                   <div class="buscador"> 
                   <form action=""> 
                      <input class="nav" type="busca un producto" placeholder="Buscar productos, marcas">
                   </form>
                    <button id="button" type="button">
                        <i id="search" class="fa fa-search" aria-hidden="true" ></i>
                    </button>
                   </div> 
        
                 </nav>      
                 
             <div class="container-titulo">
                <p class="titulo"> <i class="fas fa-hand-holding-usd"></i>compra en cuotas y sin tarjeta de credito</p>
             </div>
        </div>
          <nav>
            <ul class="lista">
                <div class="lista-1">
                    <div class="sub-lista-1">
                        <li class="li-1"> <a href="">Ofertas</a></li>
                        <li class="li-1"> <a href="">Tiendas oficiales</a></li>
                    </div>
                    <div class="sub-lista-1">
                        <li class="li-1"> <a href="">Vender</a></li>
                        <li class="li-1"> <a href="">Ayuda</a></li>
                    </div>
                </div>
              <div class="lista-2">
                <li class="li-2"> <a href="/register"> Crea tu cuenta<i class="fa-regular fa-id-card"></i></a></li>
                <li class="li-2"> <a href="/login">Ingresa<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li class="li-2"> <a href=""> Mis compras<i class="fa-sharp fa-solid fa-cart-arrow-down"></i></a></li>
              </div>
            </ul>
          </nav>
           
            <nav  class="burger-menu"> 
                <input id="burger" type="checkbox">            
                <label for="burger">
                    <i id="barra" class="fas fa-bars barras"></i>
                </label>
            </nav>

    </header>
    <section>
        <div class="container-banner">
            <img src="/images/img-home-banner.jpg" class="banner" alt="">
        </div>
    </section>

    <main>
        <h1 class="">Basado en tu última visita</h1>
        <section>
            <article>
              <div class="container-img">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" class="img">
              </div> 
              <div class="container-des"> 
                    <i class="circulo"><i class="fa-solid fa-truck" id="auto"></i></i>
                    <div class="container-precio-descuentos">
                        <p class="precio">$6.770</p>
                        <p class="descuentos">40% off</p>
                    </div>
                    <strong class="descripciones">Cafetera Moulinex</strong>
              </div>
            </article>

            <article>
                <div class="container-img">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="computadora" class="img">
                </div>
                <div  class="container-des">
                    <i class="circulo"><i class="fa-solid fa-truck" id="auto"></i></i>
                    <div class="container-precio-descuentos">
                        <p class="precio">$70.500</p>
                        <p class="descuentos">10% off</p>
                    </div>
                    <strong class="descripciones">Samsung Galaxy S10</strong>
                 </div>
            </article>

            <article>
                <div class="container-img">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="televisor" class="img">
                </div>
                <div class="container-des tres">
                    <i class="circulo"><i class="fa-solid fa-truck " id="auto"></i></i>
                
                  <div class="container-precio-descuentos" >
                    <p class="precio">$105.666</p>
                    <p class="descuentos">5% off</p>
                  </div>
           
                    <strong class="descripciones">SmartTv Samsung 43</strong>
                </div>
           </article>

           <article>
            <div class="container-img">
                <img src="/images/img-macbook-pro-2019.jpg" alt="televisor" class="img">
            </div>
            <div class="container-des tres">
                <i class="circulo"><i class="fa-solid fa-truck " id="auto"></i></i>
                <div class="container-precio-descuentos">
                    <p class="precio">$47.200</p>
                    <p class="descuentos">5% off</p>
                </div>
                <strong class="descripciones">Macbook pro</strong>
            </div>
       </article>

     </section>
     <h1 class="">Seccion de ofertas</h1>
     <section>
        <article>
            <div class="container-img">
                  <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" class="img">
            </div> 
            <div class="container-des"> 
                  <i class="circulo"><i class="fa-solid fa-truck" id="auto"></i></i>
                  <div class="container-precio-descuentos">
                      <p class="precio">$6.770</p>
                      <p class="descuentos">40% off</p>
                  </div>
                  <strong class="descripciones">Cafetera Moulinex</strong>
            </div>
          </article>

          <article>
            <div class="container-img">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="computadora" class="img">
            </div>
            <div  class="container-des">
                <i class="circulo"><i class="fa-solid fa-truck" id="auto"></i></i>
                <div class="container-precio-descuentos">
                    <p class="precio">$70.500</p>
                    <p class="descuentos">10% off</p>
                </div>
                <strong class="descripciones">Samsung Galaxy S10</strong>
             </div>
        </article>
        <article>
            <div class="container-img">
                <img src="/images/img-tv-samsung-smart.jpg" alt="televisor" class="img">
            </div>
            <div class="container-des tres">
                <i class="circulo"><i class="fa-solid fa-truck " id="auto"></i></i>
            
              <div class="container-precio-descuentos" >
                <p class="precio">$105.666</p>
                <p class="descuentos">5% off</p>
              </div>
       
                <strong class="descripciones">SmartTv Samsung 43</strong>
            </div>
       </article>
       <article>
        <div class="container-img">
            <img src="/images/img-macbook-pro-2019.jpg" alt="televisor" class="img">
        </div>
        <div class="container-des tres">
            <i class="circulo"><i class="fa-solid fa-truck " id="auto"></i></i>
            <div class="container-precio-descuentos">
                <p class="precio">$47.200</p>
                <p class="descuentos">5% off</p>
            </div>
            <strong class="descripciones">Macbook pro</strong>
        </div>
   </article>
      

        </section>

    </main>

    <footer>
        <section class="container-footer">
            <div class="pie">
                <div class="icono">
                   <i class="fa-solid fa-credit-card"></i>
                 </div>
                 <strong class="descripciones-footer">Pagá con tarjeta o en efectivo</strong>
             <br>
                 <p>Con Mercado Liebre Cash, tenés cuotas sin  interés con tarjeta o efectivo en
                  puntos de  pago. ¡Y siempre es seguro!
                 </p>
             </div>
             <br>
             <div class="pie">
                 <div class="icono">
                     <i class="fa-solid fa-gift"></i>
                 </div>
                 <strong class="descripciones-footer">Envío gratis desde $ 2.500</strong>
             <br>
             <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                 productos. Es un beneficio de Mercado Puntos.
             </p>
             </div>
             <br>
             <div class="pie">
                 <div class="icono">
                     <i class="fa-solid fa-user-shield"></i>
                 </div>
                 <strong class="descripciones-footer">Seguridad, de principio a fin</strong>
             <br>
             <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                 porque estás siempre protegid@.
             </p>
             </div>
             <br> 
        </section>
        <p class="Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
     

    </footer>
</body>
</html>