<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <script src="https://kit.fontawesome.com/b8b6f5bafe.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200&family=Lato:wght@400;700;900&family=Montserrat&family=Oswald&family=Prosto+One&family=Questrial&display=swap" rel="stylesheet">
    <title>Mercado Liebre</title>
    <link rel="shortcut icon" href="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.18.1/mercadolibre/favicon.ico" data-head-react="true">
</head>
<body>
  <%- include("partials/header.ejs")%>
    <main class="main-registro">
           <section  id="container-registro">
              <form action="/register" method="POST" id="registro" enctype="multipart/form-data">
                   <h1 id="titulo">Crea tu cuenta</h1>

                       <label  class="label" for="nombre" ></label>
                       <input class="input" type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido">

   
                       <label class="label" for="usuario"></label>
                       <input class="input" type="text" name="usuario" id="usuario" placeholder="Nombre de Usuario">

   
                       <label  class="label" for="email"></label>
                       <input  class="input" type="email" name="email" id="email" placeholder="E-mail">

   

                       <label class="label" for="nacimiento">Fecha de nacimiento</label>
                       <input class="input" type="date" name="fechaNacimiento" id="nacimiento">

   

                       <label class="label" for="domicilio"></label>
                       <input  class="input" type="text" name="domicilio" id="domicilio" placeholder="Domicilio">

   
                       <label class="label" for="perfil">Perfil del usuario</label>      
                       <div id="container-perfil">
                         <div id="div-perfil" > <input class="input" type="radio" name="perfil-comprador" id="perfil"><p class="p-perfil">Comprador</p> </div>
                         <div id="div-perfil"> <input class="input" type="radio" name="perfil-vendedor" id="perfil"> <p class="p-perfil">Vendedor</p></div>
                       </div>

   
  
                       <label class="label" for="categorias">Intereses </label >
                             <div id="container-intereses"   >
                                 <div class="div-categorias"><input class="input" type="checkbox" name="categorias-electro" id="categorias" ><p class="p-categorias">Electro</p></div>
                                 <div class="div-categorias"><input class="input" type="checkbox" name="categorias-moda" id="categorias"><p class="p-categorias">Moda</p></div>
                                 <div class="div-categorias"><input class="input" type="checkbox" name="categorias-hogar" id="categorias"><p class="p-categorias">Hogar</p></div>
                                 <div class="div-categorias"><input class="input" type="checkbox" name="categorias-jugueteria" id="categorias"><p class="p-categorias">Juguetería</p></div>
                                 <div class="div-categorias"><input class="input" type="checkbox" name="categorias-vidasana" id="categorias"><p class="p-categorias">Vida sana</p></div>
                             </div>
         
                        
                          <label  class="label label-foto" for="foto">Elige foto de perfil</label>
                          <div id="container-foto">
                            <p id="p-foto">Agregar foto</p>
                            <input class="input" type="file" name="foto" id="foto" accept="jpg., png., jpeg." >
                          </div>
                       

   

                        <label class="label" for="contraseña">Contraseña</label>
                        <input class="input" type="password" name="contraseña" id="contraseña" placeholder="Contraseña">

   

                        <label class="label" for="confirmar-contaseña">Confirmar contaseña </label>
                        <input class="input" type="password" name="confirmarContraseña" id="confirmar-contaseña" placeholder="Confirmar contaseña">

        
                        <div class="container-botones">
                          <a href="/"  class="a-boton"><button type="submit" value="Enviar" class="enviar" name="boton-enviar"> Enviar</button></a>   
                          <button type="reset" value="Borrar" class="borrar" name="boton-borrar">Borrar</button>
                        </div>
   
              </form>
           </section>
    </main>


</body>
</html>