
*{
 text-decoration: none;
 list-style-type: none;
 margin: 0;
 padding: 0;


}
body{
    height: 100%;
    width: 100%;
}
header{
    background-color: #EAC926;
   
}
.container-logo{
  width: 100%;
  height: 100px;
  
}
.logo{
    width:200px;
    height: 100px;
    
}
.container-nav{
    margin: 10px;
}
.titulo{
    width: 100%;
    text-align:center;
    font-size: 12px;
    
}

.lista{
    margin: 5px;
    padding: 3px;
    font-size: 12px;
    display: none;
}
.burger-menu{
 text-align: center;
}
.barras{
    background-color: blue;
    color: white;
    padding: 7px;
    border-radius: 5px;
    margin: 10px;
 
}

main{
    background-color: #ebebeb;
    width: 90%;
    padding-bottom: 10px;
    margin: auto;
}
h1{
    font-size: 24px;
    text-align: center;
    padding: 10px;
}
article{
    margin:   auto ;
    width: 200px;

    margin-bottom: 50px;
   
    
}


.container-img{
    background-color: white;
    text-align: center;
   

}
.img{
    width: 200px;
    height:200px;
   
   
}
.container-des{
    background-color: white;
    border-top: 2px solid #ebebeb;
    height: 80px;


    
}

.circulo {
   
    width: 20px;
    display: flex;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: solid 1px #39b54a;
    color: #39b54a;
    padding: 5px;
    margin: 0px 0px 0px 15px; 
 
}

.precio{
    font-size: 18px;
    margin-left: 15px; 
}
.descuentos{
    font-size: 16px;
    
    margin-left: 15px; 
    color: #39b54a;
}
.descripciones{
    font-size: 16px;
    margin-left: 15px;
    display: none;
     
}

footer{
    width: 100%;
    
}
.pie{
    text-align: center;
 
  
}
.icono{
    color: blue;
    font-size: 25px;
    margin-top: 40px;
}
.descripciones-footer{
    font-size: 18px;
}


@media (min-width:361px){
    .lista{
        display: flex;
        margin: 0;
        padding: 0;
        
    }
    .burger-menu{
        display: none;
    }  
    article:hover{
   
    transform: translateY(-15px);
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    cursor: pointer;
   
 }
 article{
   padding: 20px;
 }


.container-des{
    height: 100px;
    display: flex;
    flex-direction: column;
}
.circulo{
 margin-top: -15px;
 align-self: flex-end;
 margin-right: 15px;
 background-color: #fff;
 
 }
 
.descuentos{
    margin-bottom: 5px;
}
 .descripciones{
    display: block;
 }

 section{
    display: flex;
    flex-wrap: wrap;
 }
}
@media (min-width:769px){
    
}